/*
Colors used:
Background (cream): rgba(199, 186, 169, 0.05);
Primary Color (pink): #e6cecb;
Secondary Color (tan): #c7baa9;
Typography Color (gray): #3b3c3b;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(199, 186, 169, 0.05);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #3b3c3b;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-weight: 600
}

h5 {
  font-family: 'Source Serif Pro', serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}

img {
  width: 100%
}
picture {
  width: 100%
}

/*layout styling*/
header {
  background-color: rgba(199, 186, 169, 0.05);
  text-align: center;
  position: relative;
  width: 100%;
}

#logo {
  display: inline-block;
  padding: 16px 0px 0px 0px;
  /* Adds 10px top, 5px right, 15px bottom, 5px left */
  width: 23%;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  margin: 0px;
  padding: 5px 1px 10px 1px;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  color: #3b3c3b;
}

.container {
  padding: 0 14px;
}

.row {
  margin: 14px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero {
  /* id selector */
  display: inline-block;
  background-color: #e6cecb;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

#work > h1 {
  display: inline-block;
  text-align: left;
  margin: 18px 14px 14px 14px;
}
#work .row {
  display: inline-block;
  text-align: left;
  margin-top: 0px;
}
#about {
  /* id selector */
  display: inline-block;
  background-color: #e6cecb;
  text-align: center;
}
#homeportrait {
  display: inline-block;
  width: 60%;
}
#about > p {
  display: inline-block;
  margin: 0px;
  padding: 0px 13px;
}
#about .container > a {
  display: inline-block;
  margin: 12px;
}
#meetmaggie {
  margin: 0px 10px;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6cecb;
}
#contact .container > h4 {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#contact .container > h5 {
  display: block;
  margin: 0px;
}
#contact .container > div > p {
  display: block;
  margin: 10px;
}
/* links and buttons */
a {
  color: #3b3c3b;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #c7baa9;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #c7baa9;
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #c7baa9;
  text-align: center;
  padding: 6px;
  border: 1px solid #c7baa9;
  border-radius: 18px;
  width: 40%;
}

.button:hover {
  background-color: #c7baa9;
  color: #ffffff;
  border: 1px solid #e6cecb;
  text-decoration: none;
}
.button-contact > a {
  display: block;
  background-color: #e6cecb;
  color: #ffffff;
  text-align: center;
  padding: 6px;
  margin: 15px 0px 18px 0px;
  border: 1px solid #e6cecb;
  border-radius: 18px;
  text-decoration: none;
  width: 35%;
}

.button-contact:hover {
  opacity: .6;
}
.button-social > a {
  display: inline-block;
  margin-left: 1px;
  margin-right: 6px;
  width: 10%;
}
