/*
Colors used:
background-color: #f9f7f6;
Primary Color (pink): #e6cecb;
Secondary Color (tan): #c7baa9;
Secondary Color (burnt orange): #c1836c;
Typography Color (gray): #545859;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f9f7f6;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 300 */
  line-height: 1.5;
  /* Sets the line-height to 1.6 * the font-size */
  color: #545859;
}

main {
  background-color: #f9f7f6;
  padding-top: 70px;
}

footer {
  background-color: #f9f7f6;
  height: auto;
  padding-top: 10px;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Source Serif Pro', serif;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-weight: 600
}

h5 {
  font-family: 'Source Serif Pro', serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}

img {
  width: 100%
}

picture {
  width: 100%
}

/*layout styling*/
header {
  position: fixed;
  width: 100%;
}

#logo {
  background-color: #f9f7f6;
  padding: 6px 14px;
  width: 100%;
  border-bottom: 1px solid #e6cecb;
}

.logo {
  margin: 15px 0px 6px 10px;
  /* Adds 10px top, 5px right, 15px bottom, 5px left */
  width: 30%;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: fixed;
  left: 80%;
  top: 4.5%;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0px 0px;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #e6cecb;
}

.navtoggle.responsive li:last-child {
  padding: 0 20px 10px;
  border-bottom: none;
}

nav>ul {
  background-color: #f9f7f6;
  list-style-type: none;
  padding: 0px 10px 0px 8px;
  margin-left: 60%;
  margin-top: 0%;
  text-indent: 10px;
}

nav>ul>li>a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  color: #c1836c;
}

.container {
  padding: 0 14px;
}

/* home page layout */
#hero,
#work {
  /* id selector */
  display: inline-block;
}

#work h1 {
  display: inline-block;
  text-align: left;
  margin: 18px 14px 14px 14px;
}

#work .row {
  display: inline-block;
  text-align: left;
  margin-top: 0px;
}

#about {
  /* id selector */
  display: inline-block;
  background-color: #e6cecb;
  text-align: center;
}

#homeportrait {
  display: inline-block;
  width: 60%;
}

#about h2 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0px;
  padding: 10px 13px 20px 13px;
}

/* about page layout */
#meetmaggie {
  text-align: center;
  padding: 5%;
  font-size: 12px;
}

#meetmaggie p {
  padding-left: 8%;
  padding-right: 8%;
  text-align: justify;
}

#meetmaggie .lets_connect p {
  text-align: center;
}

#skills_tools {
  background-color: #e6cecb;
  text-align: center;
  padding: 10px 14px;
  font-size: 12px;
  border-bottom: 1px solid #e6cecb;
}

/* portfolio page layout */
#portfolio {
  /* id selector */
  display: inline-block;
  border-bottom: 1px solid #e6cecb;
}

#portfolio h4 {
  display: inline-block;
  letter-spacing: 1px;
  margin: 5px 0px 20px 0px;
}

#portfolio p {
  display: inline-block;
  letter-spacing: 1px;
  margin: 5px 0px 20px 0px;
}

/* independent project page layouts pp=ui/ux pp_graphics=graphic design */
#pp {
  line-height: 0px;
  padding: 4% 10%;
  border-bottom: 1px solid #e6cecb;
}

#pp .row, #pp_graphics .row {
  display: block;
  margin: 0;
}

#pp_graphics {
  text-align: center;
  padding: 4% 10%;
  border-bottom: 1px solid #e6cecb;
}

#pp h1, #pp_graphics h1 {
  text-align: center;
  font-size: 14px;
}

#pp p, #pp_graphics p {
  margin: 0px;
  line-height: 1.3em;
  letter-spacing: .5px;
  font-size: 10px;
}

#pp p {
  padding: 1% 15% 3% 15%;
  text-align: center;
}

#pp_graphics p {
  padding: 0% 2% 3% 2%;
  text-align: justify;
}

#pp span {
  display: block;
}

/* footer layout */
#contact {
  text-align: left;
}

#contact .col-md-6 {
  padding-left: 8%;
}

#contact h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

#contact h5 {
  color: #e6cecb;
  text-decoration: none;
  text-transform: none;
  margin-top: 2%;
}

#copyright {
  background-color: #e6cecb;
  padding: 2px;
  font-size: 8px;
  text-align: right;
}

#copyright p {
  padding-right: 3%;
  letter-spacing: 5%;
}

/* links and buttons */
a {
  color: #545859;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #c7baa9;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #c7baa9;
}

.button {
  margin-bottom: 14px;
  display: inline-block;
  background-color: transparent;
  color: #c7baa9;
  text-align: center;
  padding: 6px;
  border: 1px solid #c7baa9;
  border-radius: 18px;
  width: 48%;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #c7baa9;
  color: #ffffff;
  border: 1px solid #e6cecb;
  text-decoration: none;
}

.button-contact>a {
  align-items: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #e6cecb;
  margin: 0px;
}

.button-contact:hover {
  opacity: .6;
}

.button-social>a {
  display: inline-block;
  margin-left: 1px;
  margin-right: 4px;
  width: 7%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 30%;
  }

  .col-md-6 {
    float: left;
  }

  main {
    background-color: #f9f7f6;
    height: auto;
  }

  body {
    font-size: 15px;
  }

  header {
    background-color: #f9f7f6;
    padding: 6px 14px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e6cecb;
  }

  #logo {
    border-bottom: none;
    display: inline-block;
    padding: 0px;
    width: auto;
  }

  .logo {
    margin-top: 8%;
    width: 150px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav {
    display: inline-block;
    width: 57%;
    float: right;
    margin-top: 0%;
  }

  nav>ul {
    margin: 2.5em 0 1.2em 0;
    padding: 0px;
  }

  nav>ul>li>a {
    padding-right: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #c1836c;
  }

  /* home page layout */
  #hero {
    width: 100%;
  }

  #work {
    margin: 0px;
    padding: 10px 8px 35px 8px;
  }

  #work h1 {
    margin-top: 8px;
    padding-left: 5%;
    padding-bottom: 10px;
  }

  #work h4 {
    margin: 5px 0px;
  }

  #work p {
    margin-top: 8px;
    font-size: 11px;
    line-height: normal;
    text-align: justify;
    text-indent: 4%;
    letter-spacing: .04em;
    word-spacing: 1px;
    padding: 0% 2%;
  }

  #work .row {
    text-align: center;
  }

  .col-md-4 {
    display: inline-table;
    vertical-align: text-top;
  }

  #work .vertical {
    border: 1px solid #c7baa9;
    height: 363px;
    width: 1px;
    margin-top: 0%;
    position: relative;
    display: inline;
    float: left;
    top: 80%;
    left: 35%;
  }

  #work .vertical2 {
    border: 1px solid #c7baa9;
    height: 363px;
    width: 1px;
    position: relative;
    display: inline;
    float: left;
    top: 80.5%;
    left: 65%;
  }

  #about {
    padding: 10px 0px;
  }

  #about .col-md-6 {
    display: inline-block;
  }

  #about h2 {
    float: right;
    font-size: 10px;
    text-align: center;
    margin-top: 2%;
    padding: 8% 5% 5% 0%;
    line-height: 1.6em;
  }

  #about .vertical {
    border: 1px solid #c7baa9;
    height: 11em;
    left: 48%;
    margin-top: 4%;
    display: inline;
    position: absolute;
    align-content: center;
    float: left;
  }

  #about span {
    display: block;
  }

  /* about page layout */
  #meetmaggie {
    display: inline-block;
    padding: 3%;
    margin-top: 22px;
    height: auto;
    border-top: 1px solid #e6cecb;
    border-bottom: none
  }

  #meetmaggie h1 {
    margin-top: 8px;
    letter-spacing: 1px;
  }

  #meetmaggie p {
    padding: 1.5% 6% 0% 8%;
    font-kerning: auto;
    letter-spacing: .25px;
    text-align: justify;
  }

  #skills_tools {
    background-color: #e6cecb;
    height: auto;
    text-align: center;
    padding: 20px 40px;
    font-size: 12px;
    letter-spacing: 1px;
    border-bottom: 1px solid #e6cecb;
  }

  #skills_tools h3 {
    margin-bottom: 25px;
  }

  #skills_tools p {
    font-size: 11px;
    line-height: 1.87em;
  }

  #skills_tools span {
    display: block;
  }

  /* portfolio page layout */
  #portfolio {
    background-color: #f9f7f6;
    margin-top: 92px;
  }

  #portfolio .col-md-6 {
    padding: 3%;
  }

  #portfolio h1 {
    padding-top: 3.5%;
    padding-left: 3%;
    margin: 0;
  }

  /* independent project page layouts pp=ui/ux pp_graphics=graphic design */
  #pp .container,
  #pp_graphics .container {
    margin-top: 95px;
  }
  #pp h1,
  #pp_graphics h1 {
    font-size: 1.2em;
  }

  #pp p,
  #pp_graphics p {
    font-size: .75em;
    line-height: 1.5em;
  }

  /* footer layout */
  #contact {
    display: block;
  }

  #contact .col-md-6 {
    text-align: left;
  }

  #contact h4 {
    margin-bottom: 1em;
    letter-spacing: 1px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #copyright p {
    margin: 0px;
    padding: 1% 2%;
  }

  /* buttons */
  .button {
    display: inline-block;
    background-color: transparent;
    color: #c7baa9;
    margin-top: 5px;
    margin-right: 10%;
    text-align: center;
    align-items: center;
    border: 1px solid #c7baa9;
    border-radius: 18px;
    width: 25%;
    float: right;
  }

  .button:hover {
    background-color: #c7baa9;
    color: #ffffff;
    border: 1px solid #e6cecb;
    text-decoration: none;
  }

  .button-contact {
    text-align: left;
    display: block;
  }

  .button-social>a {
    margin-right: .5em;
    width: 12%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    text-align: unset;
    padding: 3% 4%;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 35px;
  }

  nav>ul>li>a {
    padding: 0 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #c1836c;
  }

  #logo {
    width: 15%;
    padding: 0;
  }

  /* home page layout */
  #work {
    padding: 3%;
  }

  #work h1 {
    font-size: 1.7em;
    padding-left: 7%;
    padding-bottom: 2%;
  }

  #work h4 {
    font-size: 1.2em;
  }

  #work p {
    font-size: 1.05em;
    padding: 5% 8%;
    line-height: 1.4em;
    text-align: justify;
  }

  #work img {
    padding: 0% 9% 8% 7%;
  }

  #work .vertical {
    border: 1px solid #c7baa9;
    height: 550px;
    width: 1px;
    margin: 0px;
    position: relative;
    display: inline;
    float: left;
    top: 78%;
    left: 35%;
  }

  #work .vertical2 {
    border: 1px solid #c7baa9;
    height: 550px;
    width: 1px;
    position: relative;
    display: inline;
    float: left;
    top: 78%;
    left: 65%;
  }

  #about {
    width: 100%;
  }

  #about h2 {
    font-size: 1em;
    text-align: justify;
    padding-top: 8%;
    padding-bottom: 1%;
    line-height: 1.6em;
  }

  #about .vertical {
    float: left;
    border: 1px solid #c7baa9;
    height: 300px;
    width: 1px;
    position: relative;
    display: inline-block;
    left: 1%;
    margin-top: 5%;
  }

  #portfolio h1 {
    font-size: 1.8em;
  }

  #meetmaggie {
    padding: 1% 10%;
  }

  #meetmaggie img {
    padding-top: 2%;
    width: 90%;
  }

  #meetmaggie h1 {
    font-size: 2em;
    margin-top: 8%;
    padding-left: 15%;
  }

  #meetmaggie p {
    font-size: 1.2em;
    line-height: 1.8em;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 5%;
  }

  #meetmaggie .lets_connect p {
    text-align: center;
  }

  #skills_tools h3 {
    font-size: 1.6em;
  }

  #skills_tools p {
    font-size: 1.25em;
  }

  #portfolio {
    padding: 2% 2%;
    width: 100%;
  }

  #portfolio .col-md-6 {
    padding: 2% 2%;
  }

  #portfolio h1 {
    font-size: 1.6em;
    padding-left: 2.3%;
  }

  #pp, #pp_graphics {
    padding: 3% 20%;
  }

  #pp_graphics .row {
    padding-bottom: 8px;
  }

  #pp h1,
  #pp_graphics h1 {
    font-size: 1.7em;
  }

  #pp p,
  #pp_graphics p {
    font-size: 1em;
  }

  #contact h4 {
    padding-bottom: 3%;
    font-size: 1.4em;
  }

  #contact a {
    padding-bottom: 3%;
    font-size: 1.2em;
  }

  #contact h5 {
    margin-top: 2%;
    padding-bottom: 3%;
    float: left;
    font-size: 1em;
    color: #e6cecb;
    text-decoration: none;
    text-transform: none;
  }

  #copyright p {
    font-size: 1.3em;
  }

  .button {
    display: inline-block;
    background-color: transparent;
    color: #c7baa9;
    margin-top: 5%;
    margin-right: 12%;
    text-align: center;
    align-items: center;
    border: 1px solid #c7baa9;
    border-radius: 18px;
    width: 18%;
    float: right;
  }

  .button-social>a {
    margin-left: 1px;
    margin-right: 3%;
    width: 7%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
